/*Custom style sheet to override Bootstrap styles*/
body{
    padding: 40px 0px;
    font-family: 'Quicksand', sans-serif;
}

button,
input,
optgroup,
select,
textarea {
     font-family: 'Quicksand', sans-serif;
}


.loginForm{
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #99C3E4;
    border-radius: 0.3rem;
}