/*Custom style sheet to override Bootstrap styles*/
body{
    padding: 40px 0px;
    font-family: 'Quicksand', sans-serif;
}

button,
input,
optgroup,
select,
textarea {
     font-family: 'Quicksand', sans-serif;
}

#loginForm{
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #99C3E4;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 6px 6px rgba(0,0,0,0.15), 0 5px 7px rgba(0,0,0,0.2)
}